SQLAlchemy==1.2.7
sqlparse==0.3.0altgraph==0.16.1
Flask==1.1.2
Flask-Cors==3.0.8
Flask-MySQL==1.5.1
Flask-RESTful==0.3.8
Flask-SQLAlchemy==2.4.4
httpie==1.0.3
mysql==0.0.2
mysql-connector==2.2.9
mysqlclient==1.4.6
numpy==1.16.4
pandas==0.24.2
PyMySQL==0.9.3
redis==3.5.2
requests==2.22.0
SQLAlchemy==1.2.7
sqlparse==0.3.0