.simpleDateBtn {
    width: auto;
    margin-right: 15px;
}

.selectDate {
    height: 22px;
    padding: 6px 12px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #e5e5e5;
    outline: none;
    cursor: pointer;
}

.betweenDate {
    display: table;
    padding: 8px 12px;
    background-color: #e5e5e5;
    border: 1px solid #e5e5e5;
    font-size: 14px;
    cursor: pointer;
}