@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
.title {
    margin-top : 8%;
}

.title h1{
    color : black;
    margin-left : 5%;
    font-weight : bolder;
    font-size : 60px;

}

body{
    font-family: 'Do Hyeon', sans-serif;
}

.content {
    margin-top : 35px;
    margin-left : 300px;


}

.category {
    font-size: 1em;
}

.main {
    font-size: 0.5em;
}

.aboutDate {
    height: 6em;
    position: relative;
    
}

.dateFilterBtns {
    position: absolute;
    top: 25%;
    left: 15%;
    width : 18%;
    height : 45%;

}

.dateFilterBtn {
    color: white; /* Text color */
    background-color: skyblue; /* Remove background color */
    border: 2px solid skyblue; /* Border thickness, line style, and color */
    border-radius: 1px; /* Adds curve to border corners */
    margin: 0;
    width : 33%;
    height : 100%;
    font-size : 20px;
    padding-top : 2px;
    font-weight: bolder;
    font-family: 'Do Hyeon', sans-serif;
}

.dateFilterBtn:active{
    color: skyblue; /* Text color */
    background-color: white; /* Remove background color */
    border: 2px solid skyblue;
    outline: 0;
}

.dateFilterBtn:focus{
    background-color: white;
    color: skyblue;
    outline: 0;
}

.dateInput {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    float: left;
    width : 500px;
}

span {
    margin : 0 15px;
    font-weight : bolder;
    color : skyblue;
}

.startDate {
    border-radius : 15px;
    border : 2px solid skyblue;
    outline : none;
    text-align : center;
    color : skyblue;
    font-family: 'Do Hyeon', sans-serif;
    width : 200px;
    display: inline;
    
}
.endDate{
    border-radius : 15px;
    border : 2px solid skyblue;
    outline : none;
    text-align : center;
    color : skyblue;
    font-family: 'Do Hyeon', sans-serif;
    width : 200px;
    display : inline;
}


input[type=date] {
    font-weight : bolder;
    font-family: 'Do Hyeon', sans-serif;
    font-size : 17px;
}


.optionName{
    width : 160px;
}

.option p{
    display: inline-block;
    font-size : 24px;
    font-weight : bold;
}

.optionSellingPrice{
    width : 230px;
    text-align : right;
}

.optionSales{
    width : 180px;
    text-align : right;
}

.option span{
    color: black;
    font-size: 24px;
}