.title {
    margin-top : 8%;
}

.title h1{
    color : black;
    margin-left : 5%;
    font-weight : bolder;
    font-size : 60px;
}


.content {
    text-align: left;
}

.category {
    font-size: 1em;
}

.main {
    font-size: 0.5em;
}

.aboutDate {
    height: 6em;
    position: relative;
    
}

.dateFilterBtns {
    position: absolute;
    top: 25%;
    left: 15%;
    width : 18%;
    height : 45%;
    
}

.dateFilterBtn {
    color: white; /* Text color */
    background-color: skyblue; /* Remove background color */
    border: 2px solid skyblue; /* Border thickness, line style, and color */
    border-radius: 1px; /* Adds curve to border corners */
    margin: 0;
    width : 33%;
    height : 100%;
    font-size : 20px;
    padding-top : 2px;
    font-weight: bolder;
}

.dateFilterBtn:active{
    color: skyblue; /* Text color */
    background-color: white; /* Remove background color */
    border: 2px solid skyblue;
    outline: 0;
}

.dateFilterBtn:focus{
    outline: 0;
}


.dateInput {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 55%;
}

span {
    margin : 0 15px;
    font-weight : bolder;
    color : skyblue;
}

.startDate {
    border-radius : 15px;
    border : 2px solid skyblue;
    outline : none;
    text-align : center;
    color : skyblue;
    
}

input[type=date] {
    font-weight : bolder;
    font-family : cambria;
    font-size : 17px;
}

.endDate{
    border-radius : 15px;
    border : 2px solid skyblue;
    outline : none;
    text-align : center;
    color : skyblue;
}