p {
    display: inline-block;
}

::placeholder {
    font-size: 1em;
    font-weight: 400;
    opacity: 1; /* Firefox */
  }
  
.hidden {
    display: none;
}

/* form {
    display: inline-block;
} */

/* 전체 컨테이너 */
.title {
    height: 100px;
    position: relative;
    border: 1px solid black;
}

.title h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px;
    padding-left: 50px;
}
.menuAdminContent {
    border: 1px solid black;
    width: 100%;
    position: relative;
}
/* 전체 컨테이너 */

/* 카테고리/메뉴 생성 및 삭제 */
/* 최상위 */
.content {
    border: 1px solid black;
    width: 50%;
    margin: 0px;
    margin-left: 10%;
}

/* 1. 카테고리 */
.category {
    font-size: 1.5em;
    margin-left: 10%;
}

/* 카테고리 토글 */
.handleCategory, .handleMenu, .handleOption {
    margin-right: 10px;
    height: 50px;
}

.handleCategory .catToggle {
    font-size: 40px;
}

.catAddInput {
    height: 40px;
    font-size: 1.5em;
}
/* 카테고리 토글 */

/* 2. 메뉴*/
.main {
    font-size: 0.7em;
    margin-left: 10%;
    padding-bottom: 20px;
}

/* 메뉴 토글 */
.handleMenu .menuToggle {
    font-size: 25px;
}

.menuAddInput {
    height: 25px;
    font-size: 0.8em;
}

.main form {
    width: 40%;
}
/* 메뉴 토글 */

.mainImage {
    width: 200px;
    height: 200px;
}


/* 3. 옵션*/

.option {
    margin-left: 5%;
}

/* 옵션토글 */

.handleSelector {
    margin-right: 10px;
}

.handleSelector .selectorToggle {
    font-size: 25px;
}

.optionName {
    font-size: 0.9em;
}

.optionPrice {
    font-size: 0.9em;
}
/* 옵션토글 */

/* 4. 옵션 생성 및 삭제 */
.modifyOption {
    border: 1px solid black;
    width: 30%;
    margin-right: 10%;
    position: absolute;
    right: 0;
    top: 0;
}

.handleOption .optToggle {
    font-size: 40px;
}

.optionAddInput {
    height: 40px;
    font-size: 1.5em;
}