@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
.aboutDate {
    height: 5em;
    margin-top : 10%;
    position: relative;
    
}

.dateFilterBtns {
    position: absolute;
    top: 25%;
    left: 15%;
    width : 18%;
    height : 45%;
    
}

.dateFilterBtn {
    color: white; /* Text color */
    background-color: skyblue; /* Remove background color */
    border: 2px solid skyblue; /* Border thickness, line style, and color */
    border-radius: 1px; /* Adds curve to border corners */
    margin: 0;
    width : 33%;
    height : 100%;
    font-size : 20px;
    padding-top : 2px;
    font-weight: bolder;
    font-family: 'Do Hyeon', sans-serif;
}

.dateFilterBtn:active{
    color: skyblue; /* Text color */
    background-color: white; /* Remove background color */
    border: 2px solid skyblue;
    outline: 0;
}
.dateFilterBtn:focus{
    background-color: white;
    color: skyblue;
    outline: 0;
}

.dateInput {
    text-align: center;
    position: absolute;
    top: 30%;
    left: 55%;
}

span {
    margin : 0 15px;
    font-weight : bolder;
    color : skyblue;
}

.startDate {
    border-radius : 15px;
    border : 2px solid skyblue;
    outline : none;
    text-align : center;
    color : skyblue;
    font-family: 'Do Hyeon', sans-serif;
    
}

input[type=date] {
    font-weight : bolder;
    font-family: 'Do Hyeon', sans-serif;
    font-size : 17px;
}

.endDate{
    border-radius : 15px;
    border : 2px solid skyblue;
    outline : none;
    text-align : center;
    color : skyblue;
    font-family: 'Do Hyeon', sans-serif;
}

.text{
    margin: 120px 0;
    text-align : center;

}

p{
    font-weight: bolder;
    font-size: 62px;
    display:block;
}